.popup__error {
  max-width: 358px;
  margin: 0 0 13px;
  padding: 0;
  color: #ff0000;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.popup__error:last-of-type {
  margin-bottom: 31px;
}