.popup__close-icon {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -40px; /* значение складывается из размера кнопки 32px и расстояния от блока 8px */
  right: -40px;
  transition: opacity 0.2s ease;
}

.popup__close-icon:hover {
opacity: 0.6;
}